html {
  height: 100%;
  width: 100%;
  font-family: futura
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(maroon, orange);
}

.input-element {
  font-size: 20px;
  width: 400px;
  height: 20px !important;

}

.input-button {
  font-size: 20px;
  height: 27px !important;
  background-color: rgba(248, 236, 210, 0.75);
}

#main-content {
  position: relative;
  text-align: center;
  background: rgba(253, 219, 139, 0.75);
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px #333;
}

#spells-container {
  margin: 10px;
  background: rgba(253, 219, 139, 0.75);
  padding: 15px 20px 18px 18px;
  box-shadow: 2px 5px 5px #333;
  border-radius: 20px;
}

#spells-header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

#spells-list {
  text-align: left;
  font-size: 20px
}

#random-spell{
  position: center;
  font-size: 20px;
  color:rgb(22, 0, 189)
}