html {
  height: 100%;
  width: 100%;
  font-family: futura
}

body {
  height: 100%;
  margin: 5%;
  background: linear-gradient(maroon, orange);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.input-element {
  font-size: 20px;
  width: 200px;
  height: 20px !important;

}

.input-button {
  font-size: 20px;
  height: 27px !important;
  background-color: rgba(248, 236, 210, 0.75);
}

#spells-quiz {
  position: relative;
  text-align: center;
  background: rgba(253, 219, 139, 0.75);
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px #333;
}

#spells-container {
  margin: 40px;
  background: rgba(253, 219, 139, 0.75);
  padding: 15px 20px 18px 18px;
  box-shadow: 2px 5px 5px #333;
  border-radius: 20px;
}

.spells-columns{
  column-span: all;
}

#spells-header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.spell-name {
  font-weight: bold;
  text-align: left;
  font-size: 24px;
}

.spell-action {
  font-size: 22px;
  margin-left: 30px
}

#random-spell-action {
  position: center;
  font-size: 22px;
  color: rgb(168, 0, 0);
}
